<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
 body {
			font-family: 'Pacifico', cursive;
			background-image: url("static/background.avif");
			background-size: cover;
			background-color: white; /* Fallback color in case the image fails to load */
		}

		h1 {
			text-align: center;
			margin-top: 40px;
		}

		table {
			border-collapse: collapse;
			margin: 40px auto;
		}

		th,
		td {
			border: 1px solid black;
			padding: 16px;
			text-align: center;
		}
  </style>
</head>
<body>

  <h1>Panini Pande (1002064144)</h1>
	<h1>Cloud Computing Assignment 3</h1>
<div>
    Time taken to execute {{n}} queries is {{time1}} with redis <br>
</div>

<div>
    <table id='customers'>
       <tr>
        <td><b>id</b></td>
        <td><b>time</b></td>
        <td><b>latitude</b></td>
        <td><b>longitude</b></td>
        <td><b>depth</b></td>
        <td><b>mag</b></td>
        <td><b>place</b></td> 
       </tr>
       {% for col in rows %}
       <tr>
          <td>{{col[0]}}</td>
          <td>{{col[1]}}</td>
          <td>{{col[2]}}</td>
          <td>{{col[3]}}</td>
          <td>{{col[4]}}</td>
          <td>{{col[5]}}</td>
          <td>{{col[6]}}</td>
       </tr>
       {% endfor %}
    </table>
</div>
</body>
</html>